".source.jison, .source.jisonlex":
  editor:
    commentStart: "// "

".rules.jison":
  editor:
    decreaseIndentPattern: "^"

".rule.jison":
  editor:
    increaseIndentPattern: "\\b[[:alpha:]_](?:[\\w-]*\\w)?\\b"
    decreaseIndentPattern: "(?!)"

".rule-components.jison":
  autocomplete:
    symbols:
      constant:
        selector: ".token, .rule-result"
        typePriority: 2
      "":
        selector: ".source"
        typePriority: 1
      builtin:
        suggestions: [
          "EOF"
          "error"
        ]
  editor:
    increaseIndentPattern: ":|\\|"
    decreaseIndentPattern: "\\||;"
